* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

.get-app {
  margin-top: 100px;
  font-family: "Nunito", sans-serif;
}
.get-app__column {
  min-height: 466px;
  position: relative;
}
.mobile-phones {
  position: absolute;
  right: 0%;
  bottom: 0%;
}
.get-app__title {
  font-family: "Nunito Sans", sans-serif;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0.3px;
  color: #191f33;
  margin-top: 100px;
}
.get-app__text {
  font-size: 20px;
  line-height: 32px;
  color: #767e94;
  margin-top: 20px;
  margin-bottom: 32px;
}

/* button block */
.button-area {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
  width: 344px;
  height: 70px;
}

.button {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 164px;
  height: 70px;
  border-radius: 8px;
  padding-left: 60px;
  padding-top: 14px;
  background: #ffffff;
  border: 1px solid #ebeef7;
  color: #191f33;
  transition: all 0.2s ease;
}

.button__caption {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #767e94;
}
.button__app-market {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}
/* --- icons --- */
.google {
  background-image: url(../image/google-play_gray.svg);
  background-position: 17px center;
  background-repeat: no-repeat;
}

.apple {
  background-position: 17px center;
  background-repeat: no-repeat;
  background-image: url(../image/apple-gray.svg);
}

/* --- :hover --- */
.button:hover {
  box-shadow: 0px 12px 48px rgba(0, 44, 109, 0.1);
}
.google:hover {
  background-position: 17px center;
  background-repeat: no-repeat;
  background-image: url(../image/google-play_blue.svg);
}
.apple:hover {
  background-position: 17px center;
  background-repeat: no-repeat;
  background-image: url(../image/apple-blue.svg);
}
